<table>
 <tr>
  <td class = "title" appMagnifier [dimensions] = "{fontSize: '2em', width: '500px', heigth: '50px', 'lineHeight': '1em'}">{{ event.title }}</td>
  <td class = "start" appMagnifier [dimensions] = "{fontSize: '2em', width: '100px', heigth: '50px', 'lineHeight': '1em'}">{{ event.start }}</td>
  <td class = "end" appMagnifier [dimensions] = "{fontSize: '2em', width: '100px', heigth: '50px', 'lineHeight': '1em'}">{{ event.end }}</td>
  <td class = "days" appMagnifier [dimensions] = "{fontSize: '2em', width: '100px', heigth: '50px', 'lineHeight': '1em'}">{{ event.days }}</td>
  <td class = "country"appMagnifier [dimensions] = "{fontSize: '2em', width: '200px', heigth: '50px', 'lineHeight': '1em'}">{{ event.country }}</td>
  <td class = "region" appMagnifier [dimensions] = "{fontSize: '2em', width: '200px', heigth: '50px', 'lineHeight': '1em'}">{{ event.region}}</td>
  <td class = "town" appMagnifier [dimensions] = "{fontSize: '2em', width: '200px', heigth: '50px', 'lineHeight': '1em'}">{{ event.town }}</td>
 </tr>
</table>