table{
	width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

td {
  text-align: center;
	border: solid white 0.1em;
	border-top: none;
	padding: 3px;
}

.title{
	width: 42%;
	background-color: burlywood;
	text-align: left;
}

.startDay{
	width: 6%;
	background-color: blanchedalmond;
}

.finishDay{
	width: 6%;
	background-color: AntiqueWhite;
}

.duration{
	width: 5%;
	background-color: Beige;
}

.country{
	width: 14%;
	background-color: AliceBlue;
}

.region{
	width: 14%;
	background-color: Azure;
}

.town{
	width: 13%;
	background-color: Aquamarine;
}
