.search {
  float: right;
}

.forCalendarWide {
  float: left;
}

.forCalendarTite {
  float: left;
  width: 80%;
}

.forCreator {
  width: 20%;
  float: right;
}

.inLine{
  float: right;
}

input {
  margin-top: 3px;
  margin-bottom: 3px;
  height: 30px;
  width: 20%;
  float: left;
}

button {
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: unset;
}
