<nav class="navig">
  <ul>
    <li class = "pli" routerLinkActive = "active"><a routerLink="/schedule">Календар</a></li>
    <li class = "pli" routerLinkActive = "active" [routerLinkActiveOptions] = "{exact: true}"><a routerLink="/">Головна</a></li>
  </ul>
</nav>
<div id = "forCalendar"
     [ngClass] = "{
		      forCalendarWide: !isVisible,
		      forCalendarTite: isVisible
		     }">

<div id = "filters">

  <button mat-raised-button color = "primary" class = "inLine"
          [ngStyle] = "{'margin-right': '3px', 'margin-left': '7%'}"
          (click) = "isVisible = !isVisible">
    <small *ngIf = "!isVisible">Додати</small>
    <small *ngIf  = "isVisible">Сховати</small>
  </button>

  <button mat-raised-button
          color = "primary"
          class = "inLine"
          (click) = "changeSearchField()">
    <small>{{ buttonName }}</small>
  </button>

  <label for = "filters" class = "inLine" [ngStyle] = "{lineHeight: '3em', marginRight: '5px'}">Пошук за:</label>

  <input matInput name = "search" type = "text" placeholder = "Пошук за ..."
         class = "inLine"
         [(ngModel)] = "search"
         #filterInput>
</div>
<event-row
  *ngFor = "let event of schedule | filter: search:searchField"
  [event] = "event"
  (click) = "renderEventDetails(event)"
>
</event-row>

</div>

<div class = "forCreator" *appToggle = "isVisible">
  <app-event-creator
    (createdEvent) = "addEvent($event)"></app-event-creator>

</div>
