div {
  float: left;
  margin: 1vh;
  font-family: "Roboto Condensed", "Helvetica Neue", sans-serif;
  font-size: 1.2rem;
}

.eventContainer {
  float: left;
  margin-left: 5vw;
  margin-right: 5vw;
}

.container {
  width: 45vw;
}

.forLogo {
  float: right;
  width: 20vw;
  height: 20vw;
  border: dashed grey 0.1vw;
  font-size: 1.5vw;
  text-align: center;
}
