<div
	class = "mainContain"
	id = "mainContainer"
	*appToggle = "isVisible"
	[ngClass] = "{valid: eventCreatorForm.valid,
		      invalid: eventCreatorForm.invalid && eventCreatorForm.touched}">

 <p class = "header">СТВОРІТЬ ЗАХІД</p>

 <form
	name = "eventCreatorForm"
	[formGroup] = "eventCreatorForm"
	(ngSubmit) = "createEvent(eventCreatorForm.value)">

  <label for = "title">Назва:</label>
  <input matInput
	name = "title"
	id = "title"
	type = "text"
	title = "Введіть назву заходу."
	placeholder = "Назва..."
	#titleInput
	formControlName = "title"
  >
  <div class = "error"
	*ngIf = "eventCreatorForm.get('title').invalid && eventCreatorForm.get('title').touched">
   <small *ngIf = "eventCreatorForm.get('title').errors.required">Поле повинне бути заповнене</small>
  </div>

  <label for = "start">Дата початку:</label>
  <form formGroupName = "start" id = "start">
   <input matInput class = "forDateInput"
	name = "year"
	type = "text"
	title = "Введіть рік початку заходу."
	placeholder = "Рік..."
	formControlName = "year"
   >
   <div class = "error"
	*ngIf = "eventCreatorForm.get('start').get('year').invalid && eventCreatorForm.get('start').get('year').touched">
    <small *ngIf = "eventCreatorForm.get('start').get('year').errors.required">Поле повинне бути заповнене</small>
   </div>

   <input matInput class = "forDateInput"
	name = "month"
	type = "text"
	title = "Введіть місяць початку заходу."
	placeholder = "Місяць..."
	formControlName = "month"
   >
   <div class = "error"
	*ngIf = "eventCreatorForm.get('start').get('month').invalid && eventCreatorForm.get('start').get('month').touched">
    <small *ngIf = "eventCreatorForm.get('start').get('month').errors.required">Поле повинне бути заповнене</small>
   </div>

   <input matInput class = "forDateInput"
	name = "day"
	type = "text"
	title = "Введіть день початку заходу."
	placeholder = "День..."
	formControlName = "day"
   >
   <div class = "error"
	*ngIf = "eventCreatorForm.get('start').get('day').invalid && eventCreatorForm.get('start').get('day').touched">
    <small *ngIf = "eventCreatorForm.get('start').get('day').errors.required">Поле повинне бути заповнене</small>
   </div>

  </form>

  <label for = "end">Дата завершення:</label>
  <form formGroupName = "end" id = "end">

   <input matInput class = "forDateInput"
	name = "year"
	type = "text"
	title = "Введіть рік завершення заходу."
	placeholder = "Рік..."
	formControlName = "year"
   >
   <div class = "error"
	*ngIf = "eventCreatorForm.get('end').get('year').invalid && eventCreatorForm.get('end').get('year').touched">
    <small *ngIf = "eventCreatorForm.get('end').get('year').errors.required">Поле повинне бути заповнене</small>
   </div>

   <input matInput class = "forDateInput"
	name = "month"
	type = "text"
	title = "Введіть місяць завершення заходу."
	placeholder = "Місяць..."
	formControlName = "month"
   >
   <div class = "error"
	*ngIf = "eventCreatorForm.get('end').get('month').invalid && eventCreatorForm.get('end').get('month').touched">
    <small *ngIf = "eventCreatorForm.get('end').get('month').errors.required">Поле повинне бути заповнене</small>
   </div>

   <input matInput class = "forDateInput"
	name = "day"
	type = "text"
	title = "Введіть день завершення заходу."
	placeholder = "День..."
	formControlName = "day"
   >
   <div class = "error"
	*ngIf = "eventCreatorForm.get('end').get('day').invalid && eventCreatorForm.get('end').get('day').touched">
    <small *ngIf = "eventCreatorForm.get('end').get('day').errors.required">Поле повинне бути заповнене</small>
   </div>
  </form>

  <label for = "country">Країна проведення:</label>
  <input matInput
	name = "country"
	id = "country"
	type = "text"
	title = "Введіть назву країни проведення заходу."
	placeholder = "Країна..."
	formControlName = "country"
  >

  <label for = "region">Територія:</label>
  <input matInput
	name = "region"
	id = "region"
	type = "text"
	title = "Введіть територію (область України або місто Київ) проведення заходу."
	placeholder = "Територія..."
	formControlName = "region"
  >

  <label for = "town">Місто:</label>
  <input matInput
	name = "town"
	id = "town"
	type = "text"
	title = "Введіть місто проведення заходу."
	placeholder = "Місто..."
	formControlName = "town"
  >
  <div class = "error"
	*ngIf = "eventCreatorForm.get('town').invalid && eventCreatorForm.get('town').touched">
   <small *ngIf = "eventCreatorForm.get('town').errors.required">Поле повинне бути заповнене</small>
  </div>

  <button
	mat-raised-button
	color = "primary"
	type = "submit"
	[disabled] = "eventCreatorForm.invalid"
  >
   Створити
  </button>

 </form>

</div>
