<nav class="navig">
  <ul>
    <li routerLinkActive = "active" [routerLinkActiveOptions] = "{exact: true}"><a routerLink="/">Головна</a></li>
    <li routerLinkActive = "active"><a routerLink="/schedule">Календар</a></li>
  </ul>
  <ul>
    <li>
      <input name = "search" type = "text" placeholder = "Пошук за {{placeHolderName}}" [(ngModel)] = "search" #filterInput>
    </li>
    <li>
      <span> Змінити, шукати за: </span>
    </li>
    <li>
      <button id="changeSearch" mat-button (click) = "changeSearchField()">
        <small>{{ buttonName }}</small>
      </button>
    </li>
  </ul>
</nav>

<div id="forCalendar" class="forCalendar">
  <table>
    <thead>
      <tr>
        <th class = "title">НАЗВА ЗАХОДУ</th>
        <th class = "startDay">Початок</th>
        <th class = "finishDay">Закінчення</th>
        <th class = "duration">Днів</th>
        <th class = "country">Країна проведення</th>
        <th class = "region">Регіон</th>
        <th class = "town">Місто</th>
      </tr>
    </thead>
  </table>
  <event-row
    *ngFor = "let event of schedule | filter: search:searchField"
    [event] = "event"
    (click) = "renderEventDetails(event)"
  ></event-row>
</div>
