<nav class="navig">
  <ul>
    <li routerLinkActive = "active" [routerLinkActiveOptions] = "{exact: true}"><a routerLink="/">Головна</a></li>
    <li routerLinkActive = "active"><a routerLink="/schedule">Календар</a></li>
  </ul>
  <ul>
    <li>
      <input name = "search" type = "text" placeholder = "Пошук за {{placeHolderName}}" [(ngModel)] = "search" #filterInput>
    </li>
    <li>
      <span> Змінити, шукати за: </span>
    </li>
    <li>
      <button id="changeSearch" mat-button (click) = "changeSearchField()">
        <small>{{ buttonName }}</small>
      </button>
    </li>
  </ul>
</nav>

<div id="forCalendar" class="forCalendar">
  <table>
    <thead>
      <tr>
        <th class = "title">НАЗВА ЗАХОДУ</th>
        <th class = "startDay">Початок</th>
        <th class = "finishDay">Закінчення</th>
        <th class = "duration">Днів</th>
        <th class = "country">Країна проведення</th>
        <th class = "region">Регіон</th>
        <th class = "town">Місто</th>
      </tr>
    </thead>
    <tr>
      <td class = "title"><button class="searhhBtn" (click)="sortByTitle()" [innerHTML]="buttonArrow"></button></td>
      <td class = "startDay"><button class="searhhBtn" (click)="sortByStartDay()" [innerHTML]="buttonArrow"></button></td>
      <td class = "finishDay"><button class="searhhBtn" (click)="sortByFinishDay()" [innerHTML]="buttonArrow"></button></td>
      <td class = "duration"><button class="searhhBtn" (click)="sortByDuration()" [innerHTML]="buttonArrow"></button></td>
      <td class = "country"><button class="searhhBtn" (click)="sortByCountry()" [innerHTML]="buttonArrow"></button></td>
      <td class = "region"><button class="searhhBtn" (click)="sortByRegion()" [innerHTML]="buttonArrow"></button></td>
      <td class = "town"><button class="searhhBtn" (click)="sortByTown()" [innerHTML]="buttonArrow"></button></td>
    </tr>
  </table>
  <div *ngIf="list; else loading">
  <event-row
    *ngFor = "let event of list | filter: search:searchField"
    [event] = "event"
    (click) = "renderEventDetails(event)"
  ></event-row>
  </div>
</div>

<ng-template #loading>
  <p class="centerText">Завантажуємо...</p>
</ng-template>
