<div class = "creatorContainer" [ngClass]="{valid: eventCreatorForm.valid,
		      invalid: eventCreatorForm.invalid && eventCreatorForm.touched}">
<div *ngIf="eventCreatorForm; else loading" id = "mainContainer">

  <h3>ДОДАЙТЕ ЗАХІД</h3>

  <form
    name = "eventCreatorForm"
    [formGroup] = "eventCreatorForm"
    (ngSubmit) = "createEvent(eventCreatorForm.value)">

    <label for = "title">Назва:</label>
    <input
      name = "title"
      id = "title"
      type = "text"
      title = "Введіть назву заходу."
      formControlName = "title"
      #titleInput
    >
    <div class = "error"
         *ngIf = "eventCreatorForm.get('title').invalid && eventCreatorForm.get('title').touched">
      <small *ngIf = "eventCreatorForm.get('title').errors.required">Поле повинне бути заповнене</small>
    </div>
    <div>
      <label for = "startDay">Дата початку: </label>
      <input class="forDateInput" id="startDay" matInput [matDatepicker]="pickerStartDay" formControlName="startDay" type="date">
      <mat-datepicker #pickerStartDay></mat-datepicker>

      <div class = "error"
           *ngIf = "eventCreatorForm.get('startDay').invalid && eventCreatorForm.get('startDay').touched">
        <small *ngIf = "eventCreatorForm.get('startDay').errors.required">Поле повинне бути заповнене</small>
      </div>

      <label for = "finishDay">Дата завершення: </label>
      <input class="forDateInput" id="finishDay" matInput [matDatepicker]="pickerFinishDay" formControlName="finishDay" type="date">
      <mat-datepicker #pickerFinishDay></mat-datepicker>

      <div class = "error"
           *ngIf = "eventCreatorForm.get('finishDay').invalid && eventCreatorForm.get('finishDay').touched">
        <small *ngIf = "eventCreatorForm.get('finishDay').errors.required">Поле повинне бути заповнене</small>
      </div>
    </div>

    <label for = "country">Країна проведення:</label>
    <input matInput
           name = "country"
           id = "country"
           type = "text"
           title = "Введіть назву країни проведення заходу."
           placeholder = "Країна..."
           formControlName = "country"
    >
    <div class = "error"
         *ngIf = "eventCreatorForm.get('country').invalid && eventCreatorForm.get('country').touched">
      <small *ngIf = "eventCreatorForm.get('country').errors.required">Поле повинне бути заповнене</small>
    </div>

    <label for = "region">Територія:</label>
    <input matInput
           name = "region"
           id = "region"
           type = "text"
           title = "Введіть територію (область України або місто Київ) проведення заходу."
           placeholder = "Територія..."
           formControlName = "region"
    >
    <div class = "error"
         *ngIf = "eventCreatorForm.get('region').invalid && eventCreatorForm.get('region').touched">
      <small *ngIf = "eventCreatorForm.get('region').errors.required">Поле повинне бути заповнене</small>
    </div>

    <label for = "town">Місто:</label>
    <input matInput
           name = "town"
           id = "town"
           type = "text"
           title = "Введіть місто проведення заходу."
           placeholder = "Місто..."
           formControlName = "town"
    >
    <div class = "error"
         *ngIf = "eventCreatorForm.get('town').invalid && eventCreatorForm.get('town').touched">
      <small *ngIf = "eventCreatorForm.get('town').errors.required">Поле повинне бути заповнене</small>
    </div>

    <button
      mat-raised-button
      color = "primary"
      type = "submit"
      [disabled] = "eventCreatorForm.invalid || submitted"
    >
      Додати
    </button>

  </form>

</div>

<ng-template #loading>
  <p class="center">Завантажується...</p>
</ng-template>
</div>
