.loginForm {
  padding: 1vw;
  max-width: 600px;
  margin: 0 auto;
}

.loginForm, button {
  margin-top: 1vw;
}

.alert {
  color: white;
}

.danger {
  background-color: red;
}

.info {
  background-color: grey;
}
