.mainContainer {
	margin-left: 5%;
	margin-right: 5%;
  font-family: "Roboto Condensed", "Helvetica Neue", sans-serif;
}

.navig{
  background-color: maroon;
  width: 100%;
  float: right;
}

.navig a{
  color: gold;
  font-size: 3vh;
}
.header{
	font-size: 2em;
	text-align: center;
	line-height: 1.2em;
}

.footer {
	padding-left: 80%;
	clear: both;
}

button {
  margin-bottom: 3px;
  margin-top: -20px;
  border-radius: unset;
}
