.mainContainer {
	margin-left: 5%;
	margin-right: 5%;
	padding: 10px;
  font-family: "Roboto Condensed", "Helvetica Neue", sans-serif;
}

.header{
	font-size: 2em;
	text-align: center;
	line-height: 1em;
}

.footer {
	padding-left: 80%;
	clear: both;
}
