<table>
  <tr>
    <td class = "title" appMagnifier [dimensions] = "{fontSize: '2em', width: '500px', height: '50px', 'lineHeight': '1.2em'}">{{ event.title }}</td>
    <td class = "start">{{ event.startDate | date:'dd.MM.yy' }}</td>
    <td class = "end">{{ event.finishDate | date:'dd.MM.yy' }}</td>
    <td class = "days">{{ event.duration | number:'1.0-0'}}</td>
    <td class = "country">{{ event.country }}</td>
    <td class = "region">{{ event.region}}</td>
    <td class = "town">{{ event.town }}</td>
  </tr>
</table>
