<header class="mainHeader">
  <h1>
    <a routerLink="/">
      КОМІТЕТ З ФІЗИЧНОГО ВИХОВАННЯ ТА СПОРТУ МІНІСТЕРСТВА ОСВІТИ І НАУКИ УКРАЇНИ<br>
      спортивно-масові та спортивні заходи серед учнів та студентів
    </a>
  </h1>
  <nav class="navig">
    <ul>
      <li routerLinkActive = "active" [routerLinkActiveOptions] = "{exact: true}"><a routerLink="/">Головна</a></li>
      <li routerLinkActive = "active"><a routerLink="/schedule">Календар</a></li>
    </ul>
  </nav>
</header>

<div class="homePage">
  <h2>Вітаємо!</h2>
  <p>
    Шановний гість, на цьому сайті ти зможеш:<br><br>
    <strong>Вже доступні функції:</strong>
  </p>
  <ol>
    <li>Ознайомитися з <a routerLink = "/schedule">календарем</a>
      спортивних та спортивно-масових заходів серед учнів та студентів;</li>
    <li>Додати свій захід;</li>
    <li>Переглянути деталі кожного заходу;</li>
  </ol>
  <strong>Функції, які врозробці:</strong>
  <ol>
    <li>Приєднатися до заходу, як <strong>глядач</strong>;</li>
    <li>Приєднатися до заходу, як <strong>спонсор</strong>;</li>
    <li>Заявитися до участі в заході, якщо це передбачене регламентом його проведення;</li>
    <li>Заявити до участі в заході команду, якщо це передбачене регламентом його проведення та у вас є доступ адміна команди;</li>
    <li>Переглянути офіційні результати заходу;</li>
    <li>Переглянути фото- та відеозвіти про відповідні заходи.</li>
  </ol>
</div>
