html, body {
	height: 100%;
}

body {
	margin: 0;
  font-family: "Roboto Condensed", "Helvetica Neue", sans-serif;
}

.mainHeader {
  padding-top: 1vw;
  background-color: maroon;
  color: gold;
  margin-bottom: unset;
}

.mainHeader h1{
  font-family: Oswald, "Roboto Condensed", Roboto, "Helvetica Neue", sans-serif;
  align-items: center;
  text-align: center;
  line-height: 1.2em;
}

.footer {
  padding-top: 1vw;
  padding-left: 80%;
  background-color: maroon;
  color: gold;
  clear: both;
}

.navig{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 40px;
  background-color: rgba(212, 175, 55, 0.2);
}

.navig a{
  color: gold;
}

.navig li {
  display: inline-flex;
  margin-right: 5px;
}

.navig h1, h2 {
  font-family: "Roboto Condensed", Roboto, "Helvetica Neue", sans-serif;
  color: white;
  padding-top: 1vw;
}

a {
  text-decoration: none;
  color: gold;
}

a:hover {
  color: white;
}

.active {
  color: white;
}

.homePage {
  padding-left: 10%;
  padding-right: 10%;
  font-family: "Roboto Condensed", Roboto, "Helvetica Neue", sans-serif;
  font-size: large;
  color: brown;
  background-color: antiquewhite;
}

.homePage a {

}

.homePage h2 {
  font-family: "Roboto Condensed", Roboto, "Helvetica Neue", sans-serif;
  color: brown;
}

.valid {
  background-color: lightgreen;
}

.invalid {
  background-color: antiquewhite;
}

.error {
  color: red;
}

input {
  width: 100%;
  height: 25px;
}

input.ng-invalid.ng-touched {border: solid red 1px;}

input.ng-valid.ng-touched {border: solid green 1px}

.forDateInput {
  width: 25%;
}

button {
  margin: 3px 0 3px 0;
  border-radius: unset;
}
