html, body {
	height: 100%;
}

body {
	margin: 0;
}

.mainHeader {
  padding-top: 0.5vw;
  background-color: rgb(45 155 235);
  margin-bottom: unset;
  min-height: 5vw;
}

.mainHeader h1{
  font-family: Oswald, "Roboto Condensed", Roboto, "Helvetica Neue", sans-serif;
  align-items: center;
  text-align: center;
  line-height: 1.2em;
  color: white;
}

.footer {
  width: 100%;
  margin-top: 3vw;
  padding-top: 1vw;
  text-align: right;
  background-color: rgb(45 155 235);
  color: white;
  clear: both;
}

.navig{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.1vw;
  height: 40px;
  width: 100%;
  font-family: "Roboto Condensed", Roboto, "Helvetica Neue", sans-serif;
  /*border-bottom: solid rgb(45 155 235) 1px;*/
}

.navig a{
  color: rgb(45 155 235);
  font-size: 1.2rem;
}

.navig li {
  display: inline-flex;
  margin-right: 5px;
}

.navig h1, h2 {
  font-family: "Roboto Condensed", Roboto, "Helvetica Neue", sans-serif;
  color: maroon;
  padding-top: 1vw;
}

a {
  text-decoration: none;
  color: gold;
}

a:hover {
  color: grey;
}

.active {
  color: white;
}

.main {
  position: relative;
  top: 0;
}

.pageContentContainer {
}

.homePage {
  font-family: "Roboto Condensed", Roboto, "Helvetica Neue", sans-serif;
  font-size: large;
  color: rgb(45 155 235);
  width: 90%;
  margin: 0 auto;
}

.homePage a {

}

.homePage h2 {
  font-family: "Roboto Condensed", Roboto, "Helvetica Neue", sans-serif;
  color: brown;
}

.valid {
  background-color: lightgreen;
}

.invalid {
  background-color: antiquewhite;
}

.error {
  color: red;
}

input {
  width: 100%;
  height: 25px;
}

input.ng-invalid.ng-touched {border: solid red 1px;}

input.ng-valid.ng-touched {border: solid green 1px}

.forDateInput {
  width: 30%;
}

button {
  margin: 3px 0 3px 0;
  border-radius: unset;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  text-align: center;
  border: dotted grey 1px;
}

table th {
  background: darkgrey;
  height: 30px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
